/*--------------------------------------------basic*/

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: grey;
}

a{
    text-decoration: none;

}





/*--------------------------------------------Hero*/

.hero-image{
    position: relative;
    height: 500px;
    overflow: hidden;
    background-image: url('../images/dublin.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-info{
    
    text-align: center;
    margin: 50px auto;
    
}

h1{
    font-family: 'bebasneueregular', sans-serif;
    color: #f65868;
    letter-spacing: 2px;
    font-size: 50px;
}

.btn{
    text-decoration: none;
    color: blue;
   
    }

/*--------------------------------------------Info-text*/

.info-block{
    text-align: left;
    margin: 50px auto;
}

.info-heading{
    font-family:'bebasneueregular', sans-serif;
    color:  #f65868;
    letter-spacing: 2.5px;
}

.info-text{
     font-family: 'bebasneueregular', sans-serif;
     color: black;
}

/*--------------------------------------------Cards*/

.bikes-header{
    margin: 25px auto;
    text-align: center;
}

.our-bikes{
    font-family: 'bebasneueregular', sans-serif;
    letter-spacing: 2.5px;
    color:  #f65868; 
}

.bike-cards{
    margin: 50px auto;
}

.card-title{
    font-family: 'bebasneueregular', sans-serif;
    letter-spacing: 2.5px;
    color:  #f65868;
}

/*--------------------------------------------Footer*/

.social-footer{
    text-align: center;
    color:  #f65868;

}